<div id="habilidades">
        
    <div class="row fondo">
        <hr style="width:50%;height:3px;border-color:white;margin-top:50px;margin-bottom:0px;margin-left:auto;margin-right:auto;">
        <h2 class="categoria" i18n><b>Habilidades y Competencias</b></h2>
    </div>
    
    <div class="row fondo">
        <div class="col-sm-6">
            <h2 class="alineado">Soft Skills</h2>
            <img style="padding-top: 90px;padding-bottom: 90px;" src="assets\public_html\Soft_skills.png" class="skills" width="75%" height="100%" alt="Soft Skills">
        </div>
        <div class="col-sm-6">
            <h2 class="alineado">Hard Skills</h2>
            <img style="padding-top: 180px;padding-bottom: 0px;" src="assets\public_html\Hard_skills.png" class="skills" width="90%" height="75%" alt="Hard Skills">
        </div>
    </div>
</div>