<div id="contacto">

    <div class="row fondo">
        <hr style="width:50%;height:3px;border-color:white;margin-top:50px;margin-bottom:0px;margin-left:auto;margin-right:auto;">
        <h2 class="categoria" i18n="@@CON-1"><b>Información de Contacto</b></h2>
    </div>

    <div class="row fondo alineado">
        <div class="col-sm-12" *ngFor = "let contacto of contactos">
            <p><a *ngIf = "contacto.link != null" style="font-size: 16pt;margin-bottom: 20px;" href={{contacto.link}}>{{contacto.info}}</a></p>
            <p *ngIf = "contacto.link == null" style="font-size: 16pt;margin-bottom: 20px;">{{contacto.info}}</p>
        </div>
    </div>

</div>