<div id="formacion">
        
    <div class="row fondo">
        <hr style="width:50%;height:3px;border-color:white;margin-top:50px;margin-bottom:0px;margin-left:auto;margin-right:auto;">
        <h2 class="categoria" i18n><b>Formación Profesional</b></h2>
    </div>
    
    <div class="row fondo">
        <div class="col-sm-6">
            <img src="assets\public_html\argentina_programa_2022_Hernán_Cifalá.jpg" class="certificado" width="75%" height="75%" alt="Certificado - Argentina Programa">
        </div>
        <div class="col-sm-6">
            <p class="texto" i18n>Capacitación #SéProgramar completa. Cursando #YoProgramo. Conocimientos adquiridos:</p>
            <ul>
                <li class="lista" i18n>Conceptos de programación.</li>
                <li class="lista" i18n>Desarrollo Web Front End.</li>
                <li class="lista" i18n>HTML, CSS, JavaScript.</li>
                <li class="lista" i18n>Bootstrap, Angular.</li>
                <li class="lista" i18n>Git, Github.</li>
            </ul>
        </div>
        <hr style="width:50%;height:2px;border-color:white;margin-top:50px;margin-bottom:50px;margin-left:auto;margin-right:auto;">
    </div>
    
    <div class="row fondo">
        <div class="col-sm-6">
            <img src="assets\public_html\Certificado - Experto Universitario en Programación de Videojuegos con Unity - Hernán Cifalá.jpg" class="certificado" width="75%" height="75%" alt="Certificado - Unity">
        </div>
        <div class="col-sm-6">
            <p class="texto" i18n>Capacitación extensa sobre el desarrollo de videojuegos con Unity. Conocimientos adquiridos:</p>
            <ul>
                <li class="lista" i18n>Programación en C#.</li>
                <li class="lista" i18n>Uso de scripts para definición de comportamientos.</li>
                <li class="lista" i18n>Conceptos avanzados de la programación orientada a objetos.</li>
                <li class="lista" i18n>Optimización del código.</li>
            </ul>
        </div>
        <hr style="width:50%;height:2px;border-color:white;margin-top:50px;margin-bottom:50px;margin-left:auto;margin-right:auto;">
    </div>
    
    <div class="row fondo">
        <div class="col-sm-6">
            <img src="assets\public_html\Google Data Analytics Professional Certificate.jpg" class="certificado" width="75%" height="75%" alt="Certificado - Análisis de Datos">
        </div>
        <div class="col-sm-6">
            <p class="texto" i18n>Capacitación extensa relacionada al análisis de datos complejo. Conocimientos adquiridos:</p>
            <ul>
                <li class="lista" i18n>Recolección, procesamiento, análisis y visualización de datos.</li>
                <li class="lista" i18n>Uso avanzado de hojas de cálculo.</li>
                <li class="lista" i18n>Manejo de bases de datos con SQL.</li>
                <li class="lista" i18n>Programación en R.</li>
            </ul>
        </div>
        <hr style="width:50%;height:2px;border-color:white;margin-top:50px;margin-bottom:50px;margin-left:auto;margin-right:auto;">
    </div>
    
    <div class="row fondo">
        <div class="col-sm-6">
            <img src="assets\public_html\StatementOfResult_FCE.jpg" class="certificado" width="75%" height="75%" alt="Certificado - First Certificate Exam">
        </div>
        <div class="col-sm-6">
            <p class="texto" i18n>Aprobado el First Certificate Exam in English. Certifica:</p>
            <ul>
                <li class="lista" i18n>Nivel avanzado de inglés.</li>
            </ul>
        </div>
    </div>
</div>
