<div id="proyectos">
        
    <div class="row fondo">
        <hr style="width:50%;height:3px;border-color:white;margin-top:50px;margin-bottom:0px;margin-left:auto;margin-right:auto;">
        <h2 class="categoria" i18n><b>Proyectos Recientes</b></h2>
    </div>

    <div class="row fondo">
        <div class="col-sm-4">
            <h4 class="texto alineado" style="font-size: 16pt;" i18n>Portfolio</h4>
            <p class="texto alineado" i18n>El desarrollo de este portfolio.</p>
            <ul>
                <li i18n>Uso de HTML, CSS y JavaScript.</li>
                <li i18n>Implementación con Bootstrap y Angular.</li>
                <li i18n>Creación de repositorios local y remoto.</li>
                <li i18n>Desarrollo Front End dinámico.</li>
            </ul>
        </div>
        <div class="col-sm-4">
            <h4 class="texto alineado" style="font-size: 16pt;" i18n>Proyecto "Oeste Salvaje"</h4>
            <p class="texto alineado" i18n>Videojuego desarrollado con Unity.</p>
            <ul>
                <li i18n>Programación con C#.</li>
                <li i18n>Diseño de niveles y escenarios.</li>
                <li i18n>Animaciones e IA avanzada.</li>
                <li i18n>Sistema de físicas y proyectiles.</li>
                <li i18n>Sistema de configuración simple.</li>
            </ul>
        </div>
        <div class="col-sm-4">
            <h4 class="texto alineado" style="font-size: 16pt;">Sales Conversion Optimization</h4>
            <p class="texto alineado" i18n>Análisis sobre campañas de marketing de una empresa.</p>
            <ul>
                <li i18n>Procesamiento de datos en Excel y SQLite.</li>
                <li i18n>Análisis y visualización de datos con R.</li>
                <li i18n>Presentación de resultados en PowerPoint.</li>
            </ul>
        </div>    
    </div>
</div>