<div id="cabecera">
        
    <div class="row panel-superior">
        <div class="col-sm-7">
            <h3 class="texto-superior">Portfolio</h3>
        </div>
        <div class="col-sm-1">
            <a href="https://www.linkedin.com/in/hernan-cifala/" class="btn">
                <img src="https://play-lh.googleusercontent.com/kMofEFLjobZy_bCuaiDogzBcUT-dz3BBbOrIEjJ-hqOabjK8ieuevGe6wlTD15QzOqw=w240-h480-rw" width="50" height="40">
            </a>
        </div>
        <div class="col-sm-2">
            <a href="https://github.com/Hernan-Cifala" class="btn">
                <img src="https://play-lh.googleusercontent.com/PCpXdqvUWfCW1mXhH1Y_98yBpgsWxuTSTofy3NGMo9yBTATDyzVkqU580bfSln50bFU=w240-h480-rw" width="50" height="40">
            </a>
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-primary btn-superior" data-bs-toggle="modal" data-bs-target="#iniciarSesion" i18n="@@E1">Iniciar Sesión</button>
        </div>
    </div>
    
    <div class="modal fade" style="color: black;" id="iniciarSesion" tabindex="-1" aria-hidden="true" aria-labelledby="titulo">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="titulo" i18n="@@E2"><b>Iniciar Sesión</b></h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="d-flex flex-column text-center">
                        <form>
                          <div class="form-group">
                            <input type="email" class="form-control" id="email1" i18n-placeholder="@@E3" placeholder="Correo electrónico">
                          </div>
                          <div class="form-group">
                            <input type="password" class="form-control" id="password1" i18n-placeholder="@@E4" placeholder="Contraseña">
                          </div>
                          <button type="button" class="btn btn-info btn-block" i18n="@@E5">Iniciar Sesión</button>
                        </form>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <div class="acceso" i18n="@@E6">Ingreso reservado para administradores</div>
                </div>
            </div>
        </div>
    </div>

</div>
