<div id="experiencia" *ngIf = "ocultar == false">
        
    <div class="row fondo">
        <hr style="width:50%;height:3px;border-color:white;margin-top:50px;margin-bottom:0px;margin-left:auto;margin-right:auto;">
        <h2 class="categoria" i18n="@@EXP-1"><b>Experiencia Laboral</b></h2>
    </div>

    <div class="row fondo" *ngFor = "let experiencia of experiencias">
        <div class="col-sm-6">
            <img src={{experiencia.logo}} class="certificado" width="75%" height="75%" alt={{experiencia.nombre}}>
        </div>
        <div class="col-sm-6">
            <p class="texto" style="padding-bottom: 20px;" i18n="@@EXP-2"><b>{{experiencia.nombre}} ( {{experiencia.inicio}} - {{experiencia.fin}} )</b></p>
            <p class="texto">Tipo de empleo: {{experiencia.tipo}}</p>
            <p class="texto">Puesto: {{experiencia.descripcion}}</p>
            <p class="texto">Descripción de la empresa: </p>
            <p class="texto">Metódica Digital es tu socio estratégico en tu proceso de transformación digital. Descubre soluciones personalizadas que se adaptan a tus necesidades y te impulsan hacia el éxito.</p>
        </div>
        <hr style="width:50%;height:2px;border-color:white;margin-top:50px;margin-bottom:50px;margin-left:auto;margin-right:auto;">       
    </div>

</div>