<div id="presentacion">
        
    <div class="row banner">
        <img src="https://img.freepik.com/premium-photo/programming-script-tag-3d-symbol-blue-background_582637-286.jpg?w=740" height="360" alt="Imagen" class="center">
    </div>
    <div class="row fondo">
        <div class="col-sm-2">
            <img src="assets\public_html\Foto CV.jpeg" class="foto">
        </div>
        <div class="col-sm-3">
            <h3 class="nombre"><b>Hernán Cifalá</b></h3>
            <h5 class="texto" i18n="@@A1">Programador</h5>
        </div>
        <div class="col-sm-6">
            <h5 class="resumen" i18n><b>Resumen Profesional:</b></h5>
            <p class="texto" i18n="@@A2">Pensador analítico con mentalidad técnica y atención al detalle busca insertarse al mercado laboral con el objetivo de expandir sus conocimientos de programación y ser parte de un equipo de desarrollo.</p>
        </div>                
    </div>
</div>
