.cuerpo {
    font-family: Verdana, Geneva, Tahoma, sans-serif; color: white;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
  }

.panel-superior {
    background-color: blue;
}
.texto-superior {
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
.btn-superior {
    margin-top: 5px;
    height: 80%;
}

.modal-dialog .modal-content {
    padding: 1rem;
  }
.form-group {
    padding-bottom: 20px;
}
.acceso {
    font-size: 10pt;
    color: blue;
    padding: 0.3rem 0rem;
  }

.fondo {
    background-color: black;
}
.banner {
    background-color: blue;
}

.foto {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    padding-top: 20px;
}

.nombre {
    padding-top: 20px;
}
.texto {
    font-family: Arial; 
    font-size: 14pt;
}
.resumen {
    padding-top: 60px;
}

.categoria {
    background-color: black;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}

.alineado {
    text-align: center;
}

.certificado {
    border-radius: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 100%;
}

.skills {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.lista {
    padding-top: 10px;
}

.btn-dark {
    margin-top: 10px;
}